package com.ymeun.api.identity.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.ymeun.api.utils.PageUtils;
import com.ymeun.api.identity.${className}Entity;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    PageUtils queryPage(Map<String, Object> params);
}

